
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">  
    <!-- <link rel="stylesheet" href="/style.css"> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">

    <title>CyberSecurity</title>

    <!-- Navigation -->
    <nav id="intro" class="bg-image shadow-2-strong">
        <div class="mask" style="background-color: rgba(0, 0, 0, 0.8);">
          <div class="container d-flex align-items-center justify-content-center text-center h-100">
            <div class="text-white">
              <h1 class="mb-3">Welcome to Cyber Threats</h1>
              <h5 class="mb-4">By: Eyan Cea</h5>
              <a class="btn btn-outline-light btn-lg m-2" href="https://www.sans.org/mlp/online-cybersecurity-training-community/?hide-footer=1&utm_medium=CPC&utm_source=Google&utm_term=Online&utm_content=RSA1%20Online%20Comm&utm_campaign=NA%20Cybersec%20Training%20Community&gclid=Cj0KCQiAsoycBhC6ARIsAPPbeLuwFNmMwbVTwFLecdOsJa0cNKi7f1wPPd7GNTw9a8isDexe881P2hAaAvrDEALw_wcB role="button
                rel="nofollow" target="_blank">Free Trainings</a>
            </div>
          </div>
        </div>
    </nav>
</head>

<!-- <div class="container-fluid"> 
    <div class="text-center">
        <img class="img-fluid" src="https://i.imgur.com/xR2zjiu.jpeg"/>
    </div> -->
    

<body class="indexbody">
    <div class="container" style="background-color:aliceblue">
    <h1 style="color:red; text-align: center">Cyber index</h1>
    <nav style="background-color: whitesmoke">
    <a class="new" href="/new" style="color:darkred">New</a>
    </nav>
    <form action="/cyber/new">
    </form>
        <table  class="table-responsive-md">
    
            <% for (let i = 0; i < data.length; i++) { %>
            
                <tr>
                  <td> <h3>Threat</h3><%=data[i].threat%></td>
            
                  <td> <h3>Impact</h3><%=data[i].impact%></td>
            
                  <td> <h3>Mitigation</h3><%=data[i].mitigation%></td>

                  <td class="editlink" style="border: thin solid black"> <a href="/<%= data[i]._id%>/edit ">EDIT</a></td>  

                  <td> <form action="/<%=data[i]._id; %>?_method=DELETE" method="POST">
                    <input type="submit" value="DELETE"/>
                </form></td>
                </tr>
                <% } %>
        </table>
    </form>
    </div>
</body>
</div>
</html>





   