
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">  
    <!-- <link rel="stylesheet" href="/style.css"> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

    <title>CyberSecurity</title>
</head>
<body>
    <div class="container" style="background-color:aliceblue">
    <h1 style="color:red; text-align: center">Cyber index</h1>
    <nav style="background-color: whitesmoke">
    <a class="new" href="/new" style="color:darkred">New</a>
    </nav>
    <form action="/cyber/new">
    </form>
        <table  class="table-responsive-md">
    
            <% for (let i = 0; i < data.length; i++) { %>
            
                <tr>
                  <td> <h3>Threat</h3><%=data[i].threat%></td>
            
                  <td> <h3>Impact</h3><%=data[i].impact%></td>
            
                  <td> <h3>Mitigation</h3><%=data[i].mitigation%></td>

                  <td style="border: thin solid black"> <a href="/<%= data[i]._id%>/edit ">EDIT</a></td>  

                  <td> <form action="/<%=data[i]._id; %>?_method=DELETE" method="POST">
                    <input type="submit" value="DELETE"/>
                </form></td>
                </tr>
                <% } %>
        </table>
    </form>
    </div>
</body>

</html>



            <!-- <table class="table table-primary">
                <thead>
                    <tr>
                        <th scope="col">Column 1</th>
                        <th scope="col">Column 2</th>
                        <th scope="col">Column 3</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="">
                        <td scope="row">R1C1</td>
                        <td>R1C2</td>
                        <td>R1C3</td>
                    </tr>
                    <tr class="">
                        <td scope="row">Item</td>
                        <td>Item</td>
                        <td>Item</td>
                    </tr>
                </tbody>
            </table>
        </div> -->


   